WarpCore/.build
Warp/Warp.xcodeproj/project.xcworkspace/xcuserdata
Warp/Warp.xcodeproj/xcuserdata
WarpCore/WarpCore.xcodeproj/xcuserdata
WarpAI/WarpAI.xcodeproj/xcuserdata
*.xcscmblueprint
WarpConduit/WarpConduit.xcodeproj/xcuserdata
Warp.xcworkspace/xcuserdata
