[submodule "Libraries/swift-parser-generator"]
	path = Libraries/swift-parser-generator
	url = https://github.com/dparnell/swift-parser-generator.git
[submodule "Libraries/MBTableGrid"]
	path = Libraries/MBTableGrid
	url = https://github.com/pixelspark/mbtablegrid
[submodule "Libraries/Alamofire"]
	path = Libraries/Alamofire
	url = https://github.com/Alamofire/Alamofire
[submodule "Libraries/TCMXMLWriter"]
	path = Libraries/TCMXMLWriter
	url = git@github.com:monkeydom/TCMXMLWriter.git
[submodule "Libraries/Rethink"]
	path = Libraries/Rethink
	url = https://github.com/pixelspark/rethink-swift
