[submodule "Warp/Libraries/MBTableGrid"]
	path = Warp/Libraries/MBTableGrid
	url = https://github.com/pixelspark/mbtablegrid
[submodule "WarpConduit/Libraries/TCMXMLWriter"]
	path = WarpConduit/Libraries/TCMXMLWriter
	url = https://github.com/monkeydom/TCMXMLWriter
[submodule "WarpCore/Libraries/SwiftParserGenerator"]
	path = WarpCore/Libraries/SwiftParserGenerator
	url = https://github.com/pixelspark/swift-parser-generator.git
[submodule "Warp/Libraries/MDSpreadView"]
	path = Warp/Libraries/MDSpreadView
	url = https://github.com/pixelspark/MDSpreadView.git
